@layer utilities {
  .grid-page-line {
    display: block;
    pointer-events: none;
    background-color: var(--grid-line-draw-color, var(--grid-line-color));
  }

  .center {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
