{
   "bracketSpacing": true,
   "experimentalTernaries": true,
   "filepath": "@",
   "htmlWhitespaceSensitivity": "strict",
   "jsxSingleQuote": true,
   "plugins": ["prettier-plugin-tailwindcss"],
   "quoteProps": "consistent",
   "rangeStart": 0,
   "semi": false,
   "singleQuote": true,
   "tabWidth": 2,
   "trailingComma": "none"
}
